.idea/
.cxx

out/
build/

.gradle/

*.iml
hs_err_*
replay_*
agent/android/.externalNativeBuild/
matrix/results
local.properties
mockk-js/node_modules/
cloud-badge/credentials.json
cloud-badge/node_modules/
cloud-badge/package-lock.json

.DS_Store
