.idea/
.cxx

out/
build/

.gradle/
.kotlin

*.iml
hs_err_*
replay_*
agent/android/.externalNativeBuild/
matrix/results
local.properties

.DS_Store

# Docs
docs/.vitepress/dist
docs/.vitepress/cache
node_modules
