<!-- Open graph tags -->
<meta property="og:title" content="">
<meta property="og:type" content="website">
<meta property="og:url" content="http://mockk.io">
<meta property="og:image" content="http://mockk.io/doc/logo.png">
<meta property="og:description" content="MockK is a mocking library for Kotlin. It is built from scratch using Kotlin and provides top-level DSL to build and verify mocks">
<meta property="og:site_name" content="MockK - mocking library for Kotlin">

<meta property="article:tag" content="verification">
<meta property="article:tag" content="chain-calls">
<meta property="article:tag" content="matcher">
<meta property="article:tag" content="argument-matchers">
<meta property="article:tag" content="kotlin">
<meta property="article:tag" content="mocking-framework">
<meta property="article:tag" content="mock">

