---
---

@import "{{ site.theme }}";
code {
    background-color: #efc;
}
.highlight {
    background-color: #efc;
}
table {
    border: 1px solid #000;
    background-color: #ccc;
}
td {
    background-color: #ffc;
}
th {
    background-color: #225;
}
