---
---

@import "{{ site.theme }}";
header {
    background-color: #225;
}
h1.header {
    font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}
code {
    background-color: #efc;
}
.highlight {
    background-color: #efc;
}
table {
    border: 1px solid #000;
    background-color: #ccc;
}
th {
    background-color: #225;
}
td {
    background-color: #ffc;
}
